/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --background-color:#fcf8f2;
  --h2-color:#114d4d;
  --h3-color:#49ADA1;
  --p-color:#212529;

}






/**********/
/* BODY  */
/********/

body {
  font-family: 'Poppins', 'Source Sans Pro';

  background-color:var(--background-color);

  margin: 0;
}






/***********/
/* HEADER */
/*********/

header nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 4.5em;

  padding: 1em;

  display: flex;
  align-content: space-between;
  align-items: center;

}

header nav img {
  width: 2.5em;
  height: auto;
}

header nav ul li {
  display: inline;

  padding: .5em;
}

header nav ul li a {
  font-size: 1.125em;
  font-family: 'Poppins', 'Source Sans Pro';
  font-weight: 900;
  color: var(--h2-color);
  text-decoration: none;
  text-transform: uppercase;
}







/***********/
/* FOOTER */
/*********/
footer section h2 {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

footer section ul  {
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--p-color);
}

footer section ul li a {
  text-decoration: none;
  color: var(--p-color);
}








/*************/
/* SECTIONS */
/***********/

main section {
  position: relative;
  justify-content: center;
}

main section h2 {
  color:var(--h2-color);
  text-transform: uppercase;
  font-weight: 900;
} 

main section img {
  width: 100%;
}







/*************/
/* 1e section */
/***********/
main section:first-of-type h2 {
  font-size: 3em;
  line-height: 1;
  text-align: center;
  margin: 0 0 1em 0;
}








/*************/
/* 2e section */
/***********/
main section:nth-of-type(2) h2 {
  font-size: 2em;
  line-height: 1em;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 0;
}

main section:nth-of-type(2) h3 {
  font-size: 1.2em;
  color:var(--h3-color) ;
  font-weight: 400;
  text-transform: uppercase;
  margin:.5em 0 0 10%;
}






/*************/
/* 3e section */
/***********/







/*************/
/* 4e section */
/***********/
main section:nth-of-type(4) h2 {
  font-size: 1.5em;
  line-height: 1em;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 0;
}

main section:nth-of-type(4) h3 {
  font-size: 1em;
  color:var(--h3-color) ;
  font-weight: 400;
  text-transform: uppercase;
  margin:.5em 0 0 10%;
}







/*************/
/* 5e section */
/***********/
main section:nth-of-type(5) h2 {
  font-size: 1.5em;
  line-height: 1em;
  text-align: left;
  margin-left: 10%;
  margin-bottom: 0;
}

main section:nth-of-type(5) h3 {
  font-size: 1em;
  color:var(--h3-color) ;
  font-weight: 400;
  text-transform: uppercase;
  margin:.5em 0 0 10%;
}

