/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}



:root {
  --background-color:#fcf8f2;
  --h2-color:#114d4d;
  --h3-color:#49ADA1;
  --p-color:#212529;
  --border-top-color: #e0e0e0;
  /* van site, 50% is opacity */
  --box-shadow:rgb(95 95 95 / 50%);
  --p-persoon-color: #6C757D;
  --white-color: #FFFFFF;
}






/**********/
/* BODY  */
/********/

body {
  background-color:var(--background-color);
}

h1, h2, h3, a {
  font-family: 'Poppins', 'Source Sans Pro';
}

p {
  font-family: "Open Sans";
}







/***********/
/* HEADER */
/*********/

header {
  padding: 1em 1em;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  
  /* bij position:fixed gaat h1 etc helemaal naar boven */

  width: 100%;
  position: relative;
  z-index:50;
}

header h1 {
  font-size: 1em;
  margin: 0;
}

header img {
  width: 3em;
  height: auto;

  position: relative;
  z-index: 150;
}






/**************************/
/*   NAV > HAMBURGERMENU */
/************************/


nav button {
  color:var(--p-color);
  width: 4em;
  height: 4em;
  border:none;

  background-color: transparent;


  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  z-index:200; 

  cursor: pointer;
  
}

nav button span {
  display: block;
  width: 50%;
  height:3px;
  border-radius: 1.5px;
  
  background-color: var(--h2-color);

  position:absolute;

  transition: .3s;

}

nav button span:nth-of-type(1) {
  transform: translateY(-8px);
}

nav button span:nth-of-type(3) {
  transform: translateY(8px);
}

nav.toonHamburger button span:nth-of-type(1) {
  transform: rotate(45deg);
}

nav.toonHamburger button span:nth-of-type(2) {
  opacity: 0;
}

nav.toonHamburger button span:nth-of-type(3) {
  transform: rotate(-45deg);
}


nav ul {
  transform: translateY(-100%);
  
  position: fixed; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding:5em 0 0;
  background-color:var(--background-color);
  list-style-type: none;
  transition: .3s;
}

nav.toonHamburger ul {
  transform:translateY(0);
}



nav ul li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.8em;
  padding: 0;
  position: relative;
}

nav ul li a {
  
  position: absolute;
  left: 1em;
  
  padding: 0;
  
  color: var(--h2-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;

  font-size: 1.5em;
  
  
}



nav ul li a:hover, nav ul li a:active {
  border-bottom: var(--h3-color) solid .125em;
}










/****************************/
/* SECTIONS 1E & 2E PAGINA */
/**************************/

main section {
  position: relative;
  margin: auto 2em auto 2em;
  
}

main section h1 {
  color:var(--h2-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.2em;
} 

main section h2 {
  color:var(--h2-color);
  text-transform: uppercase;
  font-weight: 900;
} 

main section h3 {
  color:var(--h3-color);
  text-transform: uppercase;
}

main section p {
  text-align: left;
  color: var(--h2-color);
  font-weight: 400;
  margin: 0 2em 2em 0;
}

main section a {
  padding: 1em 2em;
  background-color: var(--h2-color);
  color: var(--background-color);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 3em;
  font-weight: 600;
  font-size: 1em;
  max-width: 100%;
  
  box-shadow:  var(--box-shadow) 0 12px 40px 0;
  
  margin: 1.5em auto 0 auto;
}








/************************/
/* 1e section PAGINA 1 */
/**********************/
main section:first-of-type h2 {
  font-size: 3.5em;
  line-height: 1;
  text-align: center;
  width: 5em;
  margin: 0 auto 1em auto;

}

/* van W3Schools: https://www.w3schools.com/howto/howto_css_image_center.asp */
main section:first-of-type img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2em;
}






/************************/
/* 2e section PAGINA 1 */
/**********************/


main section:nth-of-type(2) h2 {
  font-size: 2.2em;
  width: 10em;
  line-height: 1em;
  text-align: left;
  margin-top:.6em;
}

main section:nth-of-type(2) h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-top:.75em;
  margin-bottom: .75em;

}

main section:nth-of-type(2) p {
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
}

main section:nth-of-type(2) img {
  width: 60%;
  margin: 3em auto 3em auto;
  display: block;
}






/************************/
/* 3e section PAGINA 1 */
/**********************/
main section:nth-of-type(3) {
  margin-bottom: 4em;
}

main section:nth-of-type(3) h2 {
  font-size: 2em;
  line-height: 1em;
  text-align: center;
  margin: 1em auto .2em auto;
  font-weight: 800;
  width: 12em;
}

main section:nth-of-type(3) h3 {
  font-size: 2.5em;
  font-weight: 900;
  margin: 1em 0 0 0;
  text-align: center;

}

main section:nth-of-type(3) h3:first-of-type {
  margin: 1.5em 0 0 0;
}

main section:nth-of-type(3) p {
  font-size: 1.1em;
  line-height: 1.1em;
  text-align: center;
  color: var(--h2-color);
  font-weight: 500;
  margin: 0 auto 0 auto;
  width:15em;
}

main section:nth-of-type(3) img {
  margin: 0;
}










/******************************/
/* 4e en 5e section PAGINA 1 */
/****************************/
main section:nth-of-type(4), 
main section:nth-of-type(5) {
  display: flex;
  flex-direction: column;

  padding-top: 2em;
  padding-bottom: 4em;
}

main section:nth-of-type(4) h2,
main section:nth-of-type(5) h2 {
  font-size: 1.9em;
  line-height: 1em;
  text-align: left;
  margin: 0 0 .4em 0;

}

main section:nth-of-type(4) h3, 
main section:nth-of-type(5) h3 {
  font-size: 1.25em;
  font-weight: 400;
  margin: 0 0 .75em 0;

}

main section:nth-of-type(4) p, 
main section:nth-of-type(5) p {
  font-size: 1em;
  line-height: 1.6em;
  text-align: left;
  font-weight: 400;
  max-width: 30em;
  margin: 0;
  
}

/* container van img */
main section:nth-of-type(4) div, 
main section:nth-of-type(5) div {
  order: -1;
  justify-content: center;
  margin: 3em 0 3em 0;
  height: 15em;
  overflow: hidden;
  position: relative;
  border-radius: 1.75em;
  box-shadow: var(--box-shadow) 0 12px 40px 0;

}

main section:nth-of-type(4) img, 
main section:nth-of-type(5) img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 50% 5%;
}






/*************************/
/* 1e section 2E PAGINA */
/***********************/
main.tweedePagina section:first-of-type h1 {
  line-height: 1em;
  padding-bottom:.25em ;
}

main.tweedePagina section:first-of-type h3 {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1em;
}

main.tweedePagina section:first-of-type img {
  margin: 3em 0 3em 0;
  width: 60%;
}

main.tweedePagina section:first-of-type p:first-of-type {
  font-weight: 500;
  margin: 0;
}

main.tweedePagina section:first-of-type p:nth-of-type(2) {
  color: var(--p-persoon-color);
  font-weight: 300;
  text-transform: uppercase;
  font-size: .9em;
}


/*************************/
/* 2e section 2E PAGINA */
/***********************/
main.tweedePagina section:nth-of-type(2) {
  margin-top:5em;
}

main.tweedePagina section:nth-of-type(2) p {
  margin-top:1.5em;
}

main.tweedePagina section:nth-of-type(2) p:nth-of-type(4) {
  font-weight: 600;
}



/*************************************/
/* 3e, 4e, 5e, 6e section 2E PAGINA */
/***********************************/
main.tweedePagina section:nth-of-type(3), 
main.tweedePagina section:nth-of-type(4), 
main.tweedePagina section:nth-of-type(5),
main.tweedePagina section:nth-of-type(6) {
  padding-bottom: 1em;
}

main.tweedePagina section:nth-of-type(3) div, 
main.tweedePagina section:nth-of-type(4) div, 
main.tweedePagina section:nth-of-type(5) div,
main.tweedePagina section:nth-of-type(6) div {
  display: grid;
  align-content: center;
  margin-top: 3em;
  height: 20em;
  overflow: hidden;
  position: relative;
  border-radius: 1.75em;
  box-shadow: var(--box-shadow) 0 12px 40px 0;
}

main.tweedePagina section:nth-of-type(3) h2,
main.tweedePagina section:nth-of-type(4) h2,
main.tweedePagina section:nth-of-type(5) h2,
main.tweedePagina section:nth-of-type(6) h2 {
  font-size: 2.2em;
  color: var(--white-color);
  z-index: 100;
  font-weight: 900;
  text-align: center;

}

main.tweedePagina section:nth-of-type(3) h3,
main.tweedePagina section:nth-of-type(4) h3,
main.tweedePagina section:nth-of-type(5) h3,
main.tweedePagina section:nth-of-type(6) h3 {
  margin: 0;
  z-index: 100;
  color: var(--white-color);
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;

}

main.tweedePagina section:nth-of-type(3) img,
main.tweedePagina section:nth-of-type(4) img,
main.tweedePagina section:nth-of-type(5) img,
main.tweedePagina section:nth-of-type(6) img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 50% 5%;
}

main.tweedePagina section:nth-of-type(3) a,
main.tweedePagina section:nth-of-type(4) a,
main.tweedePagina section:nth-of-type(5) a,
main.tweedePagina section:nth-of-type(6) a {
  z-index: 100;
  padding: 1em 3.5em;
}



/*************************/
/* 7e section 2E PAGINA */
/***********************/
main.tweedePagina section:nth-of-type(7) {
  margin-top: 5em;
}

main.tweedePagina section:nth-of-type(7) h2 {
  font-size: 2.3em;
  line-height: 1em;
  margin-bottom: 1em;
}

main.tweedePagina section:nth-of-type(7) img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2em;
}


/*************************/
/* 7e section 2E PAGINA */
/***********************/
main.tweedePagina section:nth-of-type(8) h2 {
  text-align: center;
  font-size: 1.9em;
}

main.tweedePagina section:nth-of-type(8) h3 {
  text-align: center;
  font-size: 1.3em;
  font-weight: normal;
  
}

main.tweedePagina section:nth-of-type(8) a:first-of-type {
  position:absolute;
  left: auto;
  right: auto;
  
}




/***********/
/* STATES */
/*********/
main section a:hover {
  transform: scale(1.1);
  transition: .3s;
}

main section a:focus {
  background-color: var(--h3-color);
  color: var(--h2-color);
  outline: none;
  box-shadow: 0 0 0 3px var(--h2-color);
}

footer section a:focus {
  border-radius: .4em;
  padding: .1em .8em;
  outline:none;
  box-shadow: 0 0 0 3px var(--h2-color);
}







/***********/
/* FOOTER */
/*********/
footer {
  padding-top: 5em;
  border-top: solid 2px var(--border-top-color);
}

footer section h2 {
  color: var(--p-color);
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

footer section ul  {
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--p-color);
  margin-bottom: 3em;
}

footer section ul li a {
  text-decoration: none;
  color: var(--p-color);
  font-size: 1.2em;
}

footer img {
  width:100%;
}

footer section:nth-of-type(4) {
  text-align: center;
  margin-bottom: 3em;
}


footer section:nth-of-type(5) img {
  width: 15%;
  display: block;
  margin: 0 auto 0 auto;
}

footer section:nth-of-type(5) p {
  font-size: .75em;
  text-align: center;
  margin-top: 3em;
}